<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_permission_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZhangCeDemos"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screen_shot.UseScreenShotActivity" />
        <activity android:name=".screen_shot.ScreenShotActivity" />
        <activity android:name=".videoplayonline.VideoPlayOnlineActivity" />
        <activity android:name=".viewpager.MyViewPagerDemo" />
        <activity android:name=".shopping_cart.ShoppingCartActivity" />
        <activity android:name=".xiecheng.XieChengActivity" />
        <activity android:name=".svg_demo.SvgDemoActivity" />
        <activity android:name=".charts.ChartsDemoActivity" />
        <activity android:name=".upan_demo.UpanDemoActivity" />
        <activity android:name=".select_city.SelectCity2Activity" />
        <activity android:name=".charts.Charts2DemoActivity" />
        <activity android:name=".png2pdf.Png2PdfActivity" />

        <receiver android:name=".upan_demo.USBDiskReceiver">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
    </application>

</manifest>